@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Tilt+Neon&display=swap');

body {
    font-family: 'Mukta', sans-serif;
    font-family: 'Tilt Neon', cursive;
    background-color: #00b4d8;
    margin: 0;
}

/* code for the overall page */
.container {
    display: grid;
    grid-template-columns: 150px 4fr 1fr;
    grid-template-rows: 100px 2fr 2fr;
    background-color: #00b4d8;
}
/* code for page sidebar*/
.sidebar {
    display: grid;
    background-color: #0077b6;
    grid-area: 1 / 1 / 4 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 100px 2fr;
    gap: 1rem;
}

#logo {
    justify-self: center;
    align-self: end;
    color: #caf0f8;
}

#logo:before {
    position: absolute;
    font-family: "Material Icons";
    content: "\ef3d";
    font-size: 72px;
    top: .5rem;
    left: 3rem;
}

#main-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-items: start;
    margin-left: 1rem;
}

#page-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: start;
    margin-left: 1rem;
}

#main-buttons button, #page-buttons button {
    border:none;
    background-color:transparent;
    outline:none;
    color: #caf0f8;
}

#home-button:before {
    position: relative;
    font-family: "Material Icons";
    content: "\e88a";
    margin-right: 1rem;
    top: 2px;
}

#profile-button:before {
    position: relative;
    font-family: "Material Icons";
    content: "\e7fd";
    margin-right: 1rem;
    top: 2px;
}

#tasks-button:before {
    position: relative;
    font-family: "Material Icons";
    content: "\f075";
    margin-right: 1rem;
    top: 2px;
}
#history-button:before {
    position: relative;
    font-family: "Material Icons";
    content: "\e889";
    margin-right: 1rem;
    top: 2px;
}

#messages-button:before {
    position: relative;
    font-family: "Material Icons";
    content: "\e0b7";
    margin-right: 1rem;
    top: 2px;
}

#communities-button:before {
    position: relative;
    font-family: "Material Icons";
    content: "\e0bf";
    margin-right: 1rem;
    top: 2px;
}

#settings-button:before {
    position: relative;
    font-family: "Material Icons";
    content: "\e8b8";
    margin-right: 1rem;
    top: 2px;
}

#support-button:before {
    position: relative;
    font-family: "Material Icons";
    content: "\ef73";
    margin-right: 1rem;
    top: 2px;
}

#privacy-button:before {
    position: relative;
    font-family: "Material Icons";
    content: "\ef3d";
    margin-right: 1rem;
    top: 2px;
}

/* code for header of the page */
.header {
    background-color: #b6d5e1;
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-columns: 4fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#search-bar:after {
    position: absolute;
    font-family: "Material Icons";
    content: "\e8b6";
    font-size: 26px;
    top: 15px;
    margin-left: 10px;
}

#search-bar input {
    width: 80%;
    text-align: center;
    height: 50%;
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 10px;
    border: transparent;
}

#notifications:before {
    font-family: "Material Icons";
    content: "\e7f7";
    font-size: 36px;
    display: flex;
    margin-top: .5rem;
    justify-content: end;
}

#user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
}

#user-profile:before {
    font-family: "Material Icons";
    content: "\e87c";
    font-size: 36px;
    display: flex;
    margin-right: 1rem;
    background-color: #caf0f8;
    border: 2px solid black;
    border-radius: 15px;
}

#user-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#user-info {
    font-size: 24px;
    justify-self: center;
    margin-top: -1.5rem;
    margin-left: -4rem;
}

#user-info:before {
font-family: "Material Icons";
    content: "\e87c";
    font-size: 36px;
    margin-right: 2rem;
    background-color: #caf0f8;
    border: 2px solid black;
    border-radius: 12px;
}

#user-welcome {
    justify-self: center;
    margin-left: -11.4rem;
}

#user-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 4;
}

#user-buttons button {
    color: white;
    border:none;
    background-color:#03045e;
    outline:none;
    border-radius: 60px;
    margin: 10px;
}

/* code for the main content of the page */
.project-list {
    display: grid;
    grid-area: 2 / 2 / 4 / 3;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(200px, 1fr));
}

.projects {
    background-color: #caf0f8;
    margin: 1rem;
    padding: 1rem;
    border-left: 3px solid #03045e;
    border-radius: 10px;
}

.announcement-list {
    display: grid;
    grid-area: 2 / 3 / 3 / 4;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #90e0ef;
}

.announcements {
    margin: 1rem;
    align-self: center;
    padding-top: 1rem;
    border-top: 1px dotted #03045e;
}

.trending-list {
    display: grid;
    grid-area: 3 / 3 / 4 / 4;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #90e0ef;
}

.trending {
    margin: 1rem;
    padding-top: 1rem;
    align-self: center;
    border-top: 1px dotted #03045e;
}