/* code for the overall page */
.container {
    display: grid;
    grid-template-columns: 150px 4fr 1fr;
    grid-template-rows: 100px 2fr 2fr;
    background-color: lightgreen;
}
/* code for page sidebar*/
.sidebar {
    display: grid;
    background-color: aqua;
    grid-area: 1 / 1 / 4 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) 3fr;
}

#logo {
    justify-self: center;
    align-self: start;
    padding: 2rem;
}

#main-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

#page-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.header {
    background-color: blueviolet;
    grid-area: 1 / 2 / 2 / 4;
}

/* code for the main content of the page */
.project-list {
    display: grid;
    grid-area: 2 / 2 / 4 / 3;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, 1fr));
}

.projects {
    background-color: red;
    margin: 1rem;
    padding: 1rem;
}

.announcement-list {
    display: grid;
    grid-area: 2 / 3 / 3 / 4;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.announcements {
    background-color: yellow;
}

.trending-list {
    display: grid;
    grid-area: 3 / 3 / 4 / 4;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.trending {
    background-color: orange;
    padding: 1rem;
}